@model PI_Postulacion_Oferta_Trabajos.Models.AeSubdivision

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AeSubdivision</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AedId" />
            <div class="form-group">
                <label asp-for="AepId" class="control-label"></label>
                <select asp-for="AepId" class="form-control" asp-items="ViewBag.AepId"></select>
                <span asp-validation-for="AepId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AedNombre" class="control-label"></label>
                <input asp-for="AedNombre" class="form-control" />
                <span asp-validation-for="AedNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

