@model PI_Postulacion_Oferta_Trabajos.Models.OfertaModalidad

@{
    ViewData["Title"] = "Crear Modalidad de Oferta";
}

<h2>@ViewData["Title"]</h2>

<h4>Crear Modalidad de Oferta</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" class="bg-light p-4 rounded shadow-sm">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <!-- Nombre del Tipo de Oferta -->
            <div class="form-floating mb-3">
                <input asp-for="OfmNombre" class="form-control" id="OfmNombre" placeholder="Nombre del Tipo de Oferta" />
                <label for="OfmNombre"><i class="bi bi-tag"></i> Nombre del Tipo de Oferta</label>
                <span asp-validation-for="OfmNombre" class="text-danger"></span>
            </div>

            <!-- Botón de Crear -->
            <div class="mb-3">
                <button type="submit" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Crear</button>
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-left-circle"></i> Volver a la Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
