@model PI_Postulacion_Oferta_Trabajos.Models.UsuarioEducacion

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UsuarioEducacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UsuId" class="control-label"></label>
                <select asp-for="UsuId" class ="form-control" asp-items="ViewBag.UsuId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UseTipoFormacion" class="control-label"></label>
                <input asp-for="UseTipoFormacion" class="form-control" />
                <span asp-validation-for="UseTipoFormacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UseDocumento" class="control-label"></label>
                <input asp-for="UseDocumento" class="form-control" />
                <span asp-validation-for="UseDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UseDescripcion" class="control-label"></label>
                <input asp-for="UseDescripcion" class="form-control" />
                <span asp-validation-for="UseDescripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
