@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de restablecimiento de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contraseña a sido restablecida. Por favor has <a asp-page="./Login">click aquí para iniciar sesión</a>.
</p>
