@model PI_Postulacion_Oferta_Trabajos.Models.Empresa

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Empresa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpId" class="control-label"></label>
                <input asp-for="EmpId" class="form-control" />
                <span asp-validation-for="EmpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpNombre" class="control-label"></label>
                <input asp-for="EmpNombre" class="form-control" />
                <span asp-validation-for="EmpNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpRuc" class="control-label"></label>
                <input asp-for="EmpRuc" class="form-control" />
                <span asp-validation-for="EmpRuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpRazonSocial" class="control-label"></label>
                <input asp-for="EmpRazonSocial" class="form-control" />
                <span asp-validation-for="EmpRazonSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpDireccion" class="control-label"></label>
                <input asp-for="EmpDireccion" class="form-control" />
                <span asp-validation-for="EmpDireccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpCorreo" class="control-label"></label>
                <input asp-for="EmpCorreo" class="form-control" />
                <span asp-validation-for="EmpCorreo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpTelefono" class="control-label"></label>
                <input asp-for="EmpTelefono" class="form-control" />
                <span asp-validation-for="EmpTelefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
