@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.mi-seccion body, .mi-seccion ul, .mi-seccion li, .mi-seccion p, .mi-seccion a, .mi-seccion label, .mi-seccion input, .mi-seccion div {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.mi-seccion .h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 400;
}

.mi-seccion .h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.mi-seccion .h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}
/* General */
.mi-seccion .logo {
    font-weight: 500;
}

/* Color de las estrellas en las reseñas*/
.mi-seccion .text-warning {
    color: #e90066;
}

/* Color opaco de las review y precio*/
.mi-seccion .text-muted {
    color: #bcbcbc;
}

/* Color del logo principal */
.mi-seccion .text-success {
    color: #e90066 !important;
}

.mi-seccion .text-light {
    color: #cfd6e1;
}

.mi-seccion .bg-dark {
    background-color: #e90066;
}

/* Color del fondo en dispositivos claros*/
.mi-seccion .bg-light {
    background-color: #e9eef5;
}

.mi-seccion .bg-black {
    background-color: #1d242d;
}

.mi-seccion .bg-success {
    background-color: #59ab6e;
}

/* Color de los iconos de los precios */
.mi-seccion .btn-success {
    background-color: #59ab6e;
    border-color: #56ae6c;
}

.mi-seccion .pagination .page-link:hover {
    color: #000;
}

.mi-seccion .pagination .page-link:hover, .mi-seccion .pagination .page-link.active {
    background-color: #69bb7e;
    color: #fff;
}
/* Nav */
.mi-seccion #templatemo_nav_top {
    min-height: 40px;
}

    .mi-seccion #templatemo_nav_top * {
        font-size: .9em;
    }

.mi-seccion #templatemo_main_nav a {
    color: #212934;
}

    .mi-seccion #templatemo_main_nav a:hover {
        color: #69bb7e;
    }

.mi-seccion #templatemo_main_nav .navbar .nav-icon {
    margin-right: 20px;
}

/* Hero Carousel Color del fondo del carousel */
.mi-seccion #template-mo-zay-hero-carousel {
    background: #efefef;
}
/* Accordion */
.mi-seccion .templatemo-accordion a {
    color: #000;
}

    .mi-seccion .templatemo-accordion a:hover {
        color: #333d4a;
    }
/* Shop */
.mi-seccion .shop-top-menu a:hover {
    color: #69bb7e;
}
/* Product */
.mi-seccion .product-wap {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
}

    .mi-seccion .product-wap .product-color-dot.color-dot-red {
        background: #f71515;
    }

    .mi-seccion .product-wap .product-color-dot.color-dot-blue {
        background: #6db4fe;
    }

    .mi-seccion .product-wap .product-color-dot.color-dot-black {
        background: #000000;
    }

    .mi-seccion .product-wap .product-color-dot.color-dot-light {
        background: #e0e0e0;
    }

    .mi-seccion .product-wap .product-color-dot.color-dot-green {
        background: #0bff7e;
    }

.mi-seccion .card.product-wap .card .product-overlay {
    background: rgba(0,0,0,.2);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.mi-seccion .card.product-wap:hover .card .product-overlay {
    visibility: visible;
    opacity: 1;
}

.mi-seccion .card.product-wap a {
    color: #000;
}

.mi-seccion #carousel-related-product .slick-slide:focus {
    outline: none;
}

.mi-seccion #carousel-related-product .slick-dots li button:before {
    font-size: 15px;
    margin-top: 20px;
}
/* Brand */
.mi-seccion .brand-img {
    filter: grayscale(100%);
    opacity: 0.5;
    transition: .5s;
}

    .mi-seccion .brand-img:hover {
        filter: grayscale(0%);
        opacity: 1;
    }
/* Carousel Hero */
.mi-seccion #template-mo-zay-hero-carousel .carousel-indicators li {
    margin-top: -50px;
    background-color: #59ab6e;
}

.mi-seccion #template-mo-zay-hero-carousel .carousel-control-next i,
.mi-seccion #template-mo-zay-hero-carousel .carousel-control-prev i {
    color: #e90066;
    font-size: 2.8em;
}
/* Carousel Brand */
.mi-seccion .tempaltemo-carousel .h1 {
    font-size: .5em;
    color: #000;
}
/* Services */
.mi-seccion .services-icon-wap {
    transition: .3s;
}

    .mi-seccion .services-icon-wap:hover, .mi-seccion .services-icon-wap:hover i {
        color: #fff;
    }

    .mi-seccion .services-icon-wap:hover {
        background: #69bb7e;
    }
/* Contact map */
.mi-seccion .leaflet-control a, .mi-seccion .leaflet-control {
    font-size: 10px;
}

.mi-seccion .form-control {
    border: 1px solid #e8e8e8;
}
/* Footer */
.mi-seccion #tempaltemo_footer a {
    color: #dcdde1;
}

    .mi-seccion #tempaltemo_footer a:hover {
        color: #68bb7d;
    }

.mi-seccion #tempaltemo_footer ul.footer-link-list li {
    padding-top: 10px;
}

.mi-seccion #tempaltemo_footer ul.footer-icons li {
    width: 2.6em;
    height: 2.6em;
    line-height: 2.6em;
}

    .mi-seccion #tempaltemo_footer ul.footer-icons li:hover {
        background-color: #cfd6e1;
        transition: .5s;
    }

        .mi-seccion #tempaltemo_footer ul.footer-icons li:hover i {
            color: #212934;
            transition: .5s;
        }

.mi-seccion #tempaltemo_footer .border-light {
    border-color: #2d343f;
}

/* Small devices (landscape phones, 576px and up) */
.mi-seccion .product-wap .h3, .mi-seccion .product-wap li, .mi-seccion .product-wap i, .mi-seccion .product-wap p {
    font-size: 12px;
}

.mi-seccion .product-wap .product-color-dot {
    width: 6px;
    height: 6px;
}

@media (min-width: 576px) {
    .mi-seccion .tempaltemo-carousel .h1 {
        font-size: 1em;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .mi-seccion #templatemo_main_nav .navbar-nav {
        max-width: 450px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .mi-seccion #templatemo_main_nav .navbar-nav {
        max-width: 550px;
    }

    .mi-seccion #template-mo-zay-hero-carousel .carousel-item {
        min-height: 30rem;
    }

    .mi-seccion .product-wap .h3, .mi-seccion .product-wap li, .mi-seccion .product-wap i, .mi-seccion .product-wap p {
        font-size: 18px;
    }

    .mi-seccion .product-wap .product-color-dot {
        width: 12px;
        height: 12px;
    }
}
