@model PI_Postulacion_Oferta_Trabajos.Models.Oferta

@{
    ViewData["Title"] = "Editar Oferta";
    ViewBag.FormAction = "EditarOferta"; // Acción del formulario
    ViewBag.SubmitButtonText = "Guardar Cambios"; // Texto del botón
}

<h2>Editar Oferta</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            @await Html.PartialAsync("_FormularioOferta", Model)
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--Método de filtro para puestos laborales-->
    <script>
        $(document).ready(function () {
            $('#ArlId').change(function () {
                var arlId = $(this).val();
                if (arlId) {
                    $.ajax({
                        url: '@Url.Action("GetPuestosLaborales", "AreasLaborales")',
                        type: 'GET',
                        data: { arlId: arlId },
                        success: function (data) {
                            var $pulId = $('#PulId');
                            $pulId.empty();
                            $pulId.append('<option value="">Seleccione un puesto</option>');
                            $.each(data, function (index, item) {
                                $pulId.append($('<option>').val(item.pulId).text(item.pulNombre));
                            });
                        }
                    });
                } else {
                    $('#PulId').empty();
                }
            });
        });
    </script>

    <!--Método de filtro para ciudades-->
    <script>
        $(document).ready(function () {
            $('#ProId').change(function () {
                var proId = $(this).val();
                if (proId) {
                    $.ajax({
                        url: '@Url.Action("GetCiudades", "Provincias")',
                        type: 'GET',
                        data: { proId: proId },
                        success: function (data) {
                            var $cidId = $('#CidId');
                            $cidId.empty();
                            $cidId.append('<option value="">Seleccione una ciudad</option>');
                            $.each(data, function (index, item) {
                                $cidId.append($('<option>').val(item.cidId).text(item.cidNombre));
                            });
                        }
                    });
                } else {
                    $('#CidId').empty().append('<option value="">Seleccione una ciudad</option>');
                }
            });
        });
    </script>
}