@model PI_Postulacion_Oferta_Trabajos.Models.AreaLaboral

@{
    ViewData["Title"] = "Crear Área Laboral";
}

<h1>@ViewData["Title"]</h1>

<h4>Crear Área Laboral</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" class="bg-light p-4 rounded shadow-sm">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <!-- Nombre del Área Laboral -->
            <div class="form-floating mb-3">
                <input asp-for="ArlNombre" class="form-control" id="ArlNombre" placeholder="Nombre del Área Laboral" />
                <label for="ArlNombre"><i class="bi bi-briefcase"></i> Nombre del Área Laboral</label>
                <span asp-validation-for="ArlNombre" class="text-danger"></span>
            </div>

            <!-- Botón de Crear -->
            <div class="mb-3">
                <button type="submit" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Crear</button>
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-left-circle"></i> Volver a la Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
