@model PI_Postulacion_Oferta_Trabajos.Models.EstadoPostulacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EstadoPostulacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EspNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EspNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EspDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EspDescripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EspId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
