@model PI_Postulacion_Oferta_Trabajos.Models.Oferta

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Oferta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OfeId" class="control-label"></label>
                <input asp-for="OfeId" class="form-control" />
                <span asp-validation-for="OfeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpId" class="control-label"></label>
                <select asp-for="EmpId" class ="form-control" asp-items="ViewBag.EmpId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OfeTitulo" class="control-label"></label>
                <input asp-for="OfeTitulo" class="form-control" />
                <span asp-validation-for="OfeTitulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfeDescripcion" class="control-label"></label>
                <input asp-for="OfeDescripcion" class="form-control" />
                <span asp-validation-for="OfeDescripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfeRequisitos" class="control-label"></label>
                <input asp-for="OfeRequisitos" class="form-control" />
                <span asp-validation-for="OfeRequisitos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfeSalario" class="control-label"></label>
                <input asp-for="OfeSalario" class="form-control" />
                <span asp-validation-for="OfeSalario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfeFechaPublicacion" class="control-label"></label>
                <input asp-for="OfeFechaPublicacion" class="form-control" />
                <span asp-validation-for="OfeFechaPublicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
