@model PI_Postulacion_Oferta_Trabajos.Models.UsuarioEducacion

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UsuarioEducacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class ="form-control" asp-items="ViewBag.UsuarioId"></select>
            </div>
            <!-- USE_TIPO_FORMACION -->
            <div class="form-group">
                <label asp-for="USE_TIPO_FORMACION" class="control-label"></label>
                <input asp-for="USE_TIPO_FORMACION" class="form-control" />
                <span asp-validation-for="USE_TIPO_FORMACION" class="text-danger"></span>
            </div>

            <!-- USE_DOCUMENTO -->
            <div class="form-group">
                <label asp-for="USE_DOCUMENTO" class="control-label"></label>
                <input asp-for="USE_DOCUMENTO" class="form-control" />
                <span asp-validation-for="USE_DOCUMENTO" class="text-danger"></span>
            </div>

            <!-- USE_TITULO -->
            <div class="form-group">
                <label asp-for="USE_TITULO" class="control-label"></label>
                <input asp-for="USE_TITULO" class="form-control" />
                <span asp-validation-for="USE_TITULO" class="text-danger"></span>
            </div>

            <!-- USE_AREA -->
            <div class="form-group">
                <label asp-for="USE_AREA" class="control-label"></label>
                <input asp-for="USE_AREA" class="form-control" />
                <span asp-validation-for="USE_AREA" class="text-danger"></span>
            </div>

            <!-- USE_INSTITUCION -->
            <div class="form-group">
                <label asp-for="USE_INSTITUCION" class="control-label"></label>
                <input asp-for="USE_INSTITUCION" class="form-control" />
                <span asp-validation-for="USE_INSTITUCION" class="text-danger"></span>
            </div>

            <!-- USE_ESTADO -->
            <div class="form-group">
                <label asp-for="USE_ESTADO" class="control-label"></label>
                <input asp-for="USE_ESTADO" class="form-control" />
                <span asp-validation-for="USE_ESTADO" class="text-danger"></span>
            </div>

            <!-- USE_FECHAI -->
            <div class="form-group">
                <label asp-for="USE_FECHAI" class="control-label"></label>
                <input asp-for="USE_FECHAI" class="form-control" type="date" />
                <span asp-validation-for="USE_FECHAI" class="text-danger"></span>
            </div>

            <!-- USE_FECHAF -->
            <div class="form-group">
                <label asp-for="USE_FECHAF" class="control-label"></label>
                <input asp-for="USE_FECHAF" class="form-control" type="date" />
                <span asp-validation-for="USE_FECHAF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
