@model PI_Postulacion_Oferta_Trabajos.Models.Administrador

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Administrador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AdmId" />
            <div class="form-group">
                <label asp-for="AdmNombre" class="control-label"></label>
                <input asp-for="AdmNombre" class="form-control" />
                <span asp-validation-for="AdmNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdmApellido" class="control-label"></label>
                <input asp-for="AdmApellido" class="form-control" />
                <span asp-validation-for="AdmApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdmCorreo" class="control-label"></label>
                <input asp-for="AdmCorreo" class="form-control" />
                <span asp-validation-for="AdmCorreo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdmPassword" class="control-label"></label>
                <input asp-for="AdmPassword" class="form-control" />
                <span asp-validation-for="AdmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdmDireccion" class="control-label"></label>
                <input asp-for="AdmDireccion" class="form-control" />
                <span asp-validation-for="AdmDireccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
