.offer-details {
    max-width: 70%;
}

.offer-salary {
    text-align: right;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.postulado {
    /*Aquí se personaliza la tarjeta en caso de estar postulado*/
    /* opacity: 0.5; */
}

custom-a-empresa {
    text-decoration: none; /* Elimina la línea decorativa */
    color: #e90066; /* Color rosa inicial */
    transition: color 0.3s ease; /* Transición suave del color */
}

.custmo-a-empresa:hover {
    color: #c2185b; /* Color rosa oscuro al hacer hover */
}

.custom-select:focus {
    box-shadow: 0 0 0 0.3rem rgba(233, 0, 102, 0.25); /* Cambia la sombra azul */
    border-color: #e90066; /* Cambia el color del borde si es necesario */
}

select option:hover {
    background-color: #e90066; /* Cambia esto al color que prefieras */
    color: white;
}

.form-check-input {
    background-color: #ffffff; /* Color de fondo blanco por defecto */
    border-color: #ced4da; /* Color del borde por defecto */
}

    .form-check-input:checked {
        background-color: #e90066; /* Color de fondo cuando está seleccionado */
        border-color: #e90066; /* Color del borde cuando está seleccionado */
    }

    .form-check-input:active {
        background-color: #e90066; /* Color de fondo cuando está seleccionado */
        border-color: #e90066; /* Color del borde cuando está seleccionado */
    }

    .form-check-input:focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25); /* Color de la sombra del enfoque */
    }
