@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

/* Fuente y Tamaño de la letra */
body {
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif; /* Cambia 'Roboto' al nombre de la fuente que hayas seleccionado */
    font-weight: 500;
}

/* Estilo base para todos los enlaces */
a {
    color: #e90066; /* Color del enlace */
    text-decoration: none; /* Quita el subrayado por defecto */
    font-weight: 700; /* Opcional: cambia el peso de la fuente */
    transition: color 0.3s; /* Transición suave para el color */
}

    /* Estilo para el enlace cuando el cursor está sobre él */
    a:hover {
        color: #ff529e; /* Color del enlace aclarado en hover */
    }

    /* Estilo para el enlace cuando está activo o en foco */
    a:focus, a:active {
        color: #ff529e; /* Color aún más claro o diferente para foco/activo */
    }

.btn-custom {
    font-weight: 600;
    color: #ffffff; /* Color del texto */
    background-color: #e90066; /* Color de fondo rosa */
    border-color: #e90066; /* Color del borde */
    /* Estilos al pasar el cursor */
    transition: background-color 0.3s, border-color 0.3s;
}

    .btn-custom:hover {
        color: #ffffff; /* Color del texto en hover */
        background-color: #c20055; /* Rosa más oscuro en hover */
        border-color: #c20055; /* Borde más oscuro en hover */
    }

    .btn-custom:focus, .btn-custom:active {
        color: #ffffff; /* Color del texto en foco y activo */
        background-color: #c20055; /* Rosa aún más oscuro cuando está activo */
        border-color: #c20055; /* Borde más oscuro cuando está activo */
    }

.form-control:focus {
    border-color: #e90066; /* Cambia el color del borde */
    box-shadow: 0 0 0 0.3rem rgba(255, 0, 0, 0.25); /* Cambia el color de la sombra del enfoque si es necesario */
}

/* Para evitar que el autocompletado de Chrome le de un color azul */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #ffd6e8 inset !important;
}

.nav-link-custom {
    margin: 0 2px 0 2px;
    transition: border 0.3s ease, color 0.3s ease;
    border: 2px solid transparent; /* Inicialmente sin borde visible */
    border-radius: 10px;
}

    .nav-link-custom:hover {
        background-color: #fffafc;
        border: 2px solid #e90066; /* Añade borde inferior */
        color: #e90066 !important;
    }

.nav-link-salir {
    margin: 0 32px 0 12px;
    font-weight: bold;
    transition: border 0.3s ease, color 0.3s ease;
    border: 2px solid transparent; /* Inicialmente sin borde visible */
    border-radius: 10px;
}

    .nav-link-salir:hover {
        background-color: #fffafc;
        border: 2px solid #0a26ee; /* Añade borde inferior */
        color: #0a26ee !important;
    }
/*=======
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.profile-section, .favorite-section, .activity-section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
}

.profile-section h2 {
    text-align: center;
    margin-bottom: 10px;
}

.profile-section .btn {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.availability-section h4 {
    font-size: 16px;
    margin-bottom: 5px;
}

.availability-btn {
    background-color: green;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
}

.favorite-section h3, .activity-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.favorite-box, .recommended-company {
    background-color: #f9f9f9;
    border: 1px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.activity-section p {
    margin-bottom: 5px;
}

.activity-section .btn-link {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.salary-section, .recommended-section {
    margin-top: 20px;
}

.recommended-company h4 {
    font-size: 16px;
    margin-bottom: 5px;
}

.recommended-company span {
    color: gold;
}
.search-bar {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.search-input {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.location-select {
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #fff;
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;*/ /* Elimina el padding adicional */
/*}

.search-image {
    width: 20px;*/ /* Asegúrate de que la imagen tenga el tamaño adecuado */
    /*height: 20px;
}
>>>>>>> cambios*/
