@model PI_Postulacion_Oferta_Trabajos.Models.TipoUsuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TipoUsuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipDescripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TipId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
