@model PI_Postulacion_Oferta_Trabajos.Models.Ciudad

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ciudad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CidNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CidNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pro.ProId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CidId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
